# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# Android/IDE
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Mac/Windows
.DS_Store
Thumbs.db

# Firebase / env secrets
google-services.json
key.properties
*.jks
*.keystore

